<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Price Chart</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <style>
        body  {
            background-color: #111111;
        }
    </style>
</head>
<body>
    <div id="live-chart"></div>
    <div id="event-info"></div>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/');
        console.log(socket);

        var priceData = {
            name: "Price Graph",
            x: [],
            y: [],
            type: 'scatter',
            mode: 'lines', //+markers
        };

        var filteredData = {
            name: "Filtered Price Graph",
            x: [],
            y: [],
            type: 'scatter',
            mode: 'lines',
            line: {color: "yellow"},
        };

        var buyData = {
            name: "Buy Events",
            x: [],
            y: [],
            type: 'scatter',
            mode: 'markers',
            marker: {color: 'green', size: 10},
        };

        var sellData = {
            name: "Sell Events",
            x: [],
            y: [],
            type: 'scatter',
            mode: 'markers',
            marker: {color: 'red', size: 10},
        };

        var highestPoint = {
            name: "Highest point",
            x: [],
            y: [],
            type: "scatter",
            mode: "lines",
            line: {color: "purple"}
        };
        var lowestPoint = {
            name: "Lowest point",
            x: [],
            y: [],
            type: "scatter",
            mode: "lines",
            line: {color: "pink"}
        };

        var checkRange = {
            name: "Index range",
            x: [],
            y: [],
            type: "scatter",
            mode: "lines",
            line: {color: "orange"}
        };

        var dbRange = {
            name: "Database range",
            x: [],
            y: [],
            type: "scatter",
            mode: "lines",
            line: {color: "white"}
        };
        const template = {
            "data": {
                "barpolar": [
                    {
                        "marker": {
                            "line": {
                                "color": "rgb(17,17,17)",
                                "width": 0.5
                            },
                            "pattern": {
                                "fillmode": "overlay",
                                "size": 10,
                                "solidity": 0.2
                            }
                        },
                        "type": "barpolar"
                    }
                ],
                "bar": [
                    {
                        "error_x": {
                            "color": "#f2f5fa"
                        },
                        "error_y": {
                            "color": "#f2f5fa"
                        },
                        "marker": {
                            "line": {
                                "color": "rgb(17,17,17)",
                                "width": 0.5
                            },
                            "pattern": {
                                "fillmode": "overlay",
                                "size": 10,
                                "solidity": 0.2
                            }
                        },
                        "type": "bar"
                    }
                ],
                "carpet": [
                    {
                        "aaxis": {
                            "endlinecolor": "#A2B1C6",
                            "gridcolor": "#506784",
                            "linecolor": "#506784",
                            "minorgridcolor": "#506784",
                            "startlinecolor": "#A2B1C6"
                        },
                        "baxis": {
                            "endlinecolor": "#A2B1C6",
                            "gridcolor": "#506784",
                            "linecolor": "#506784",
                            "minorgridcolor": "#506784",
                            "startlinecolor": "#A2B1C6"
                        },
                        "type": "carpet"
                    }
                ],
                "choropleth": [
                    {
                        "colorbar": {
                            "outlinewidth": 0,
                            "ticks": ""
                        },
                        "type": "choropleth"
                    }
                ],
                "contourcarpet": [
                    {
                        "colorbar": {
                            "outlinewidth": 0,
                            "ticks": ""
                        },
                        "type": "contourcarpet"
                    }
                ],
                "contour": [
                    {
                        "colorbar": {
                            "outlinewidth": 0,
                            "ticks": ""
                        },
                        "colorscale": [
                            [
                                0.0,
                                "#0d0887"
                            ],
                            [
                                0.1111111111111111,
                                "#46039f"
                            ],
                            [
                                0.2222222222222222,
                                "#7201a8"
                            ],
                            [
                                0.3333333333333333,
                                "#9c179e"
                            ],
                            [
                                0.4444444444444444,
                                "#bd3786"
                            ],
                            [
                                0.5555555555555556,
                                "#d8576b"
                            ],
                            [
                                0.6666666666666666,
                                "#ed7953"
                            ],
                            [
                                0.7777777777777778,
                                "#fb9f3a"
                            ],
                            [
                                0.8888888888888888,
                                "#fdca26"
                            ],
                            [
                                1.0,
                                "#f0f921"
                            ]
                        ],
                        "type": "contour"
                    }
                ],
                "heatmapgl": [
                    {
                        "colorbar": {
                            "outlinewidth": 0,
                            "ticks": ""
                        },
                        "colorscale": [
                            [
                                0.0,
                                "#0d0887"
                            ],
                            [
                                0.1111111111111111,
                                "#46039f"
                            ],
                            [
                                0.2222222222222222,
                                "#7201a8"
                            ],
                            [
                                0.3333333333333333,
                                "#9c179e"
                            ],
                            [
                                0.4444444444444444,
                                "#bd3786"
                            ],
                            [
                                0.5555555555555556,
                                "#d8576b"
                            ],
                            [
                                0.6666666666666666,
                                "#ed7953"
                            ],
                            [
                                0.7777777777777778,
                                "#fb9f3a"
                            ],
                            [
                                0.8888888888888888,
                                "#fdca26"
                            ],
                            [
                                1.0,
                                "#f0f921"
                            ]
                        ],
                        "type": "heatmapgl"
                    }
                ],
                "heatmap": [
                    {
                        "colorbar": {
                            "outlinewidth": 0,
                            "ticks": ""
                        },
                        "colorscale": [
                            [
                                0.0,
                                "#0d0887"
                            ],
                            [
                                0.1111111111111111,
                                "#46039f"
                            ],
                            [
                                0.2222222222222222,
                                "#7201a8"
                            ],
                            [
                                0.3333333333333333,
                                "#9c179e"
                            ],
                            [
                                0.4444444444444444,
                                "#bd3786"
                            ],
                            [
                                0.5555555555555556,
                                "#d8576b"
                            ],
                            [
                                0.6666666666666666,
                                "#ed7953"
                            ],
                            [
                                0.7777777777777778,
                                "#fb9f3a"
                            ],
                            [
                                0.8888888888888888,
                                "#fdca26"
                            ],
                            [
                                1.0,
                                "#f0f921"
                            ]
                        ],
                        "type": "heatmap"
                    }
                ],
                "histogram2dcontour": [
                    {
                        "colorbar": {
                            "outlinewidth": 0,
                            "ticks": ""
                        },
                        "colorscale": [
                            [
                                0.0,
                                "#0d0887"
                            ],
                            [
                                0.1111111111111111,
                                "#46039f"
                            ],
                            [
                                0.2222222222222222,
                                "#7201a8"
                            ],
                            [
                                0.3333333333333333,
                                "#9c179e"
                            ],
                            [
                                0.4444444444444444,
                                "#bd3786"
                            ],
                            [
                                0.5555555555555556,
                                "#d8576b"
                            ],
                            [
                                0.6666666666666666,
                                "#ed7953"
                            ],
                            [
                                0.7777777777777778,
                                "#fb9f3a"
                            ],
                            [
                                0.8888888888888888,
                                "#fdca26"
                            ],
                            [
                                1.0,
                                "#f0f921"
                            ]
                        ],
                        "type": "histogram2dcontour"
                    }
                ],
                "histogram2d": [
                    {
                        "colorbar": {
                            "outlinewidth": 0,
                            "ticks": ""
                        },
                        "colorscale": [
                            [
                                0.0,
                                "#0d0887"
                            ],
                            [
                                0.1111111111111111,
                                "#46039f"
                            ],
                            [
                                0.2222222222222222,
                                "#7201a8"
                            ],
                            [
                                0.3333333333333333,
                                "#9c179e"
                            ],
                            [
                                0.4444444444444444,
                                "#bd3786"
                            ],
                            [
                                0.5555555555555556,
                                "#d8576b"
                            ],
                            [
                                0.6666666666666666,
                                "#ed7953"
                            ],
                            [
                                0.7777777777777778,
                                "#fb9f3a"
                            ],
                            [
                                0.8888888888888888,
                                "#fdca26"
                            ],
                            [
                                1.0,
                                "#f0f921"
                            ]
                        ],
                        "type": "histogram2d"
                    }
                ],
                "histogram": [
                    {
                        "marker": {
                            "pattern": {
                                "fillmode": "overlay",
                                "size": 10,
                                "solidity": 0.2
                            }
                        },
                        "type": "histogram"
                    }
                ],
                "mesh3d": [
                    {
                        "colorbar": {
                            "outlinewidth": 0,
                            "ticks": ""
                        },
                        "type": "mesh3d"
                    }
                ],
                "parcoords": [
                    {
                        "line": {
                            "colorbar": {
                                "outlinewidth": 0,
                                "ticks": ""
                            }
                        },
                        "type": "parcoords"
                    }
                ],
                "pie": [
                    {
                        "automargin": true,
                        "type": "pie"
                    }
                ],
                "scatter3d": [
                    {
                        "line": {
                            "colorbar": {
                                "outlinewidth": 0,
                                "ticks": ""
                            }
                        },
                        "marker": {
                            "colorbar": {
                                "outlinewidth": 0,
                                "ticks": ""
                            }
                        },
                        "type": "scatter3d"
                    }
                ],
                "scattercarpet": [
                    {
                        "marker": {
                            "colorbar": {
                                "outlinewidth": 0,
                                "ticks": ""
                            }
                        },
                        "type": "scattercarpet"
                    }
                ],
                "scattergeo": [
                    {
                        "marker": {
                            "colorbar": {
                                "outlinewidth": 0,
                                "ticks": ""
                            }
                        },
                        "type": "scattergeo"
                    }
                ],
                "scattergl": [
                    {
                        "marker": {
                            "line": {
                                "color": "#283442"
                            }
                        },
                        "type": "scattergl"
                    }
                ],
                "scattermapbox": [
                    {
                        "marker": {
                            "colorbar": {
                                "outlinewidth": 0,
                                "ticks": ""
                            }
                        },
                        "type": "scattermapbox"
                    }
                ],
                "scatterpolargl": [
                    {
                        "marker": {
                            "colorbar": {
                                "outlinewidth": 0,
                                "ticks": ""
                            }
                        },
                        "type": "scatterpolargl"
                    }
                ],
                "scatterpolar": [
                    {
                        "marker": {
                            "colorbar": {
                                "outlinewidth": 0,
                                "ticks": ""
                            }
                        },
                        "type": "scatterpolar"
                    }
                ],
                "scatter": [
                    {
                        "marker": {
                            "line": {
                                "color": "#283442"
                            }
                        },
                        "type": "scatter"
                    }
                ],
                "scatterternary": [
                    {
                        "marker": {
                            "colorbar": {
                                "outlinewidth": 0,
                                "ticks": ""
                            }
                        },
                        "type": "scatterternary"
                    }
                ],
                "surface": [
                    {
                        "colorbar": {
                            "outlinewidth": 0,
                            "ticks": ""
                        },
                        "colorscale": [
                            [
                                0.0,
                                "#0d0887"
                            ],
                            [
                                0.1111111111111111,
                                "#46039f"
                            ],
                            [
                                0.2222222222222222,
                                "#7201a8"
                            ],
                            [
                                0.3333333333333333,
                                "#9c179e"
                            ],
                            [
                                0.4444444444444444,
                                "#bd3786"
                            ],
                            [
                                0.5555555555555556,
                                "#d8576b"
                            ],
                            [
                                0.6666666666666666,
                                "#ed7953"
                            ],
                            [
                                0.7777777777777778,
                                "#fb9f3a"
                            ],
                            [
                                0.8888888888888888,
                                "#fdca26"
                            ],
                            [
                                1.0,
                                "#f0f921"
                            ]
                        ],
                        "type": "surface"
                    }
                ],
                "table": [
                    {
                        "cells": {
                            "fill": {
                                "color": "#506784"
                            },
                            "line": {
                                "color": "rgb(17,17,17)"
                            }
                        },
                        "header": {
                            "fill": {
                                "color": "#2a3f5f"
                            },
                            "line": {
                                "color": "rgb(17,17,17)"
                            }
                        },
                        "type": "table"
                    }
                ]
            },
            "layout": {
                "annotationdefaults": {
                    "arrowcolor": "#f2f5fa",
                    "arrowhead": 0,
                    "arrowwidth": 1
                },
                "autotypenumbers": "strict",
                "coloraxis": {
                    "colorbar": {
                        "outlinewidth": 0,
                        "ticks": ""
                    }
                },
                "colorscale": {
                    "diverging": [
                        [
                            0,
                            "#8e0152"
                        ],
                        [
                            0.1,
                            "#c51b7d"
                        ],
                        [
                            0.2,
                            "#de77ae"
                        ],
                        [
                            0.3,
                            "#f1b6da"
                        ],
                        [
                            0.4,
                            "#fde0ef"
                        ],
                        [
                            0.5,
                            "#f7f7f7"
                        ],
                        [
                            0.6,
                            "#e6f5d0"
                        ],
                        [
                            0.7,
                            "#b8e186"
                        ],
                        [
                            0.8,
                            "#7fbc41"
                        ],
                        [
                            0.9,
                            "#4d9221"
                        ],
                        [
                            1,
                            "#276419"
                        ]
                    ],
                    "sequential": [
                        [
                            0.0,
                            "#0d0887"
                        ],
                        [
                            0.1111111111111111,
                            "#46039f"
                        ],
                        [
                            0.2222222222222222,
                            "#7201a8"
                        ],
                        [
                            0.3333333333333333,
                            "#9c179e"
                        ],
                        [
                            0.4444444444444444,
                            "#bd3786"
                        ],
                        [
                            0.5555555555555556,
                            "#d8576b"
                        ],
                        [
                            0.6666666666666666,
                            "#ed7953"
                        ],
                        [
                            0.7777777777777778,
                            "#fb9f3a"
                        ],
                        [
                            0.8888888888888888,
                            "#fdca26"
                        ],
                        [
                            1.0,
                            "#f0f921"
                        ]
                    ],
                    "sequentialminus": [
                        [
                            0.0,
                            "#0d0887"
                        ],
                        [
                            0.1111111111111111,
                            "#46039f"
                        ],
                        [
                            0.2222222222222222,
                            "#7201a8"
                        ],
                        [
                            0.3333333333333333,
                            "#9c179e"
                        ],
                        [
                            0.4444444444444444,
                            "#bd3786"
                        ],
                        [
                            0.5555555555555556,
                            "#d8576b"
                        ],
                        [
                            0.6666666666666666,
                            "#ed7953"
                        ],
                        [
                            0.7777777777777778,
                            "#fb9f3a"
                        ],
                        [
                            0.8888888888888888,
                            "#fdca26"
                        ],
                        [
                            1.0,
                            "#f0f921"
                        ]
                    ]
                },
                "colorway": [
                    "#636efa",
                    "#EF553B",
                    "#00cc96",
                    "#ab63fa",
                    "#FFA15A",
                    "#19d3f3",
                    "#FF6692",
                    "#B6E880",
                    "#FF97FF",
                    "#FECB52"
                ],
                "font": {
                    "color": "#f2f5fa"
                },
                "geo": {
                    "bgcolor": "rgb(17,17,17)",
                    "lakecolor": "rgb(17,17,17)",
                    "landcolor": "rgb(17,17,17)",
                    "showlakes": true,
                    "showland": true,
                    "subunitcolor": "#506784"
                },
                "hoverlabel": {
                    "align": "left"
                },
                "hovermode": "closest",
                "mapbox": {
                    "style": "dark"
                },
                "paper_bgcolor": "rgb(17,17,17)",
                "plot_bgcolor": "rgb(17,17,17)",
                "polar": {
                    "angularaxis": {
                        "gridcolor": "#506784",
                        "linecolor": "#506784",
                        "ticks": ""
                    },
                    "bgcolor": "rgb(17,17,17)",
                    "radialaxis": {
                        "gridcolor": "#506784",
                        "linecolor": "#506784",
                        "ticks": ""
                    }
                },
                "scene": {
                    "xaxis": {
                        "backgroundcolor": "rgb(17,17,17)",
                        "gridcolor": "#506784",
                        "gridwidth": 2,
                        "linecolor": "#506784",
                        "showbackground": true,
                        "ticks": "",
                        "zerolinecolor": "#C8D4E3"
                    },
                    "yaxis": {
                        "backgroundcolor": "rgb(17,17,17)",
                        "gridcolor": "#506784",
                        "gridwidth": 2,
                        "linecolor": "#506784",
                        "showbackground": true,
                        "ticks": "",
                        "zerolinecolor": "#C8D4E3"
                    },
                    "zaxis": {
                        "backgroundcolor": "rgb(17,17,17)",
                        "gridcolor": "#506784",
                        "gridwidth": 2,
                        "linecolor": "#506784",
                        "showbackground": true,
                        "ticks": "",
                        "zerolinecolor": "#C8D4E3"
                    }
                },
                "shapedefaults": {
                    "line": {
                        "color": "#f2f5fa"
                    }
                },
                "sliderdefaults": {
                    "bgcolor": "#C8D4E3",
                    "bordercolor": "rgb(17,17,17)",
                    "borderwidth": 1,
                    "tickwidth": 0
                },
                "ternary": {
                    "aaxis": {
                        "gridcolor": "#506784",
                        "linecolor": "#506784",
                        "ticks": ""
                    },
                    "baxis": {
                        "gridcolor": "#506784",
                        "linecolor": "#506784",
                        "ticks": ""
                    },
                    "bgcolor": "rgb(17,17,17)",
                    "caxis": {
                        "gridcolor": "#506784",
                        "linecolor": "#506784",
                        "ticks": ""
                    }
                },
                "title": {
                    "x": 0.05
                },
                "updatemenudefaults": {
                    "bgcolor": "#506784",
                    "borderwidth": 0
                },
                "xaxis": {
                    "automargin": true,
                    "gridcolor": "#283442",
                    "linecolor": "#506784",
                    "ticks": "",
                    "title": {
                        "standoff": 15
                    },
                    "zerolinecolor": "#283442",
                    "zerolinewidth": 2
                },
                "yaxis": {
                    "automargin": true,
                    "gridcolor": "#283442",
                    "linecolor": "#506784",
                    "ticks": "",
                    "title": {
                        "standoff": 15
                    },
                    "zerolinecolor": "#283442",
                    "zerolinewidth": 2
                }
            }
        }

        var layout = {
            title: 'Live Price Chart',
            template: template,
            xaxis: {
                title: 'Time',
                type: 'date',
            },
            yaxis: {
                title: 'Price (EUR)',
                autorange: true,
                type: 'linear',
            },
            autosize: true,
            showlegend: true,
            height: window.innerHeight - 20,
            margin: {l: 0, r: 0, t: 60, b: 0},
        };

        var chart = Plotly.newPlot('live-chart', [priceData, buyData, sellData, highestPoint, checkRange, dbRange, lowestPoint, filteredData], layout);
        
        socket.on('connect', function() {
            console.log('Socket.IO connected!');
        });

        socket.on('disconnect', function() {
            console.log('Socket.IO disconnected!');
        });

        socket.on('error', function(error) {
            console.error('Socket.IO error:', error);
        });
        
        socket.on('update_price', function(data) {
            console.log('Received update_price event:', data);
            var num = Math.floor(Math.random() * 2);
            //if (num === 0) {
                Plotly.extendTraces('live-chart', {x: [[new Date(data.x)]], y: [[data.y]]}, [0]); 
            //}
            

            // DB RANGE
            dbRange.x = [];
            dbRange.y = [];
            
            if (priceData.y.length > 500) {
                var db_index = priceData.y.length - 500;

                Plotly.extendTraces('live-chart', {x: [[new Date(priceData.x.at(db_index))]], y: [[priceData.y.at(db_index)]]}, [5]);
                Plotly.extendTraces('live-chart', {x: [[new Date(data.x)]], y: [[data.y]]}, [5]);                
            }
        });

        socket.on("filtered_event", function(data) {
            console.log("Recieved filtered_event event:", data)
            try {
                Plotly.extendTraces('live-chart', {x: [[new Date(data.x)]], y: [[data.y]]}, [7]);
            } catch {
                console.warn("Error extending traces");
            }
            
        });

        socket.on('buy_event', function(data) {
            console.log('Received buy_event event:', data);
            Plotly.extendTraces('live-chart', {x: [[new Date(data.x)]], y: [[data.y]]}, [1]);
        });

        socket.on('sell_event', function(data) {
            console.log('Received sell_event event:', data);
            Plotly.extendTraces('live-chart', {x: [[new Date(data.x)]], y: [[data.y]]}, [2]);
        });

        socket.on('high_event', function(data) {
            console.log('Received high_event event:', data);
            highestPoint.y = [];
            highestPoint.x = [];
            
            var index = priceData.y.lastIndexOf(data.price);
            var last_index = priceData.y.length - 1;

            Plotly.extendTraces('live-chart', {x: [[new Date(priceData.x.at(index))]], y: [[priceData.y.at(index)]]}, [3]);
            Plotly.extendTraces('live-chart', {x: [[new Date(priceData.x.at(last_index))]], y: [[priceData.y.at(last_index)]]}, [3]);

            // INDEX RANGE
            checkRange.x = [];
            checkRange.y = [];
            var range_index = priceData.y.lastIndexOf(data.point);
            
            Plotly.extendTraces('live-chart', {x: [[new Date(priceData.x.at(range_index - 240))]], y: [[priceData.y.at(range_index - 240)]]}, [4]);
            Plotly.extendTraces('live-chart', {x: [[new Date(priceData.x.at(range_index))]], y: [[priceData.y.at(range_index)]]}, [4]);
        });

        socket.on('low_event', function(data) {
            console.log('Received low_event:', data);
            lowestPoint.y = [];
            lowestPoint.x = [];
            
            var index = priceData.y.lastIndexOf(data.price);
            var last_index = priceData.y.length - 1;

            Plotly.extendTraces('live-chart', {x: [[new Date(priceData.x.at(index))]], y: [[priceData.y.at(index)]]}, [6]);
            Plotly.extendTraces('live-chart', {x: [[new Date(priceData.x.at(last_index))]], y: [[priceData.y.at(last_index)]]}, [6]);

            // INDEX RANGE
            checkRange.x = [];
            checkRange.y = [];
            var range_index = priceData.y.lastIndexOf(data.point);
            
            Plotly.extendTraces('live-chart', {x: [[new Date(priceData.x.at(range_index - 240))]], y: [[priceData.y.at(range_index - 240)]]}, [4]);
            Plotly.extendTraces('live-chart', {x: [[new Date(priceData.x.at(range_index))]], y: [[priceData.y.at(range_index)]]}, [4]);
        });

    </script>
</body>
</html>